@model WebApplication2.tSotrudnik

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tSotrudnik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imya)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imya)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Familiya)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Familiya)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vysluga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vysluga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vozrast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vozrast)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tDolzhnost.Naimenovanie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tDolzhnost.Naimenovanie)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
