@model List<tSotrudnik>

@{
    ViewBag.Title = "Index";
    var asd = Model;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
1        </th>
        <th>
2        </th>
        <th>
3        </th>
        <th>
4        </th>
        <th>
4        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Rabotnika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imya)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Familiya)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vysluga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vozrast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tDolzhnost.Naimenovanie)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
