@model List<tSotrudnik>

@{
    ViewBag.Title = "Index";
    var asd = Model;
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/StyleSheet1.css">
</head>

<div class="Button_Edit">
    <div>
        <a class="btn btn-primary" href="@Url.Action("Index", "tSotrudniks")">Редактировать таблицу сотрудников</a>
    </div>
    <div>
        <a class="btn btn-primary" href="@Url.Action("Index", "tDolzhnosts")">Редактировать таблицу должностей</a>
    </div>
    <div>
        <a class="btn btn-primary" href="@Url.Action("Index", "tInventar_nomerov")">Редактировать таблицу инвентарь номеров</a>
    </div>
    <div>
        <a class="btn btn-primary" href="@Url.Action("Index", "tKlients")">Редактировать таблицу клиентов</a>
    </div>
    <div>
        <a class="btn btn-primary" href="@Url.Action("Index", "tNomers")">Редактировать таблицу номеров</a>
    </div>
    <div>
        <a class="btn btn-primary" href="@Url.Action("Index", "tResursies")">Редактировать таблицу ресурсов</a>
    </div>
    <div>
        <a class="btn btn-primary" href="@Url.Action("Index", "tRaskhod_resursov")">Редактировать таблицу расхода ресурсов</a>
    </div>
    <div>
        <a class="btn btn-primary" href="@Url.Action("Index", "tBron_nomera")">Редактировать таблицу броней</a>
    </div>
</div>


@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
1        </th>
        <th>
2        </th>
        <th>
3        </th>
        <th>
4        </th>
        <th>
4        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Rabotnika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imya)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Familiya)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vysluga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vozrast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tDolzhnost.Naimenovanie)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@
