@model WebApplication2.tResursy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tResursy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kolvo_na_sklade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kolvo_na_sklade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naimenovanie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naimenovanie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Resursa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
