@model IEnumerable<WebApplication2.tResursy>

@{
    ViewBag.Title = "Resursies";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kolvo_na_sklade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naimenovanie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kolvo_na_sklade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naimenovanie)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Resursa }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Resursa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Resursa })
        </td>
    </tr>
}

</table>
