@model IEnumerable<WebApplication2.tRaskhod_resursov>

@{
    ViewBag.Title = "Raskhod_resursov";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tResursy.Naimenovanie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tSotrudnik.Imya)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tResursy.Naimenovanie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tSotrudnik.Imya)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
