@model WebApplication2.tKlient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tKlient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imya)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imya)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Familiya)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Familiya)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_zaseleniya)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_zaseleniya)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_viseleniya)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_viseleniya)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Klient }) |
    @Html.ActionLink("Back to List", "Index")
</p>
