@model IEnumerable<WebApplication2.tKlient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Imya)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Familiya)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_zaseleniya)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_viseleniya)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imya)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Familiya)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_zaseleniya)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_viseleniya)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Klient }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Klient }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Klient })
        </td>
    </tr>
}

</table>
